body {
  background: linear-gradient(90deg, rgb(9, 15, 132), rgb(256, 256, 256));
}
header {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: white;
  }
}

i {
  pointer-events: none;
}

form {
  display: flex;
  justify-content: center;
  margin: 1rem;
  input,
  button {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    margin: 0.1rem;
  }
  input[type='number'] {
    width: 30px;
    text-align: center;
  }
  input[type='text'] {
    width: 300px;
    text-align: center;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  button {
    background-color: #554d48;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  div.todo {
    display: flex;
    align-items: center;
    width: 400px;
    height: 1.25rem;
    margin: 0.25rem 0rem;
    padding: 0.5rem;
    font-size: 1.25rem;
    p {
      background-color: #fff;
      color: black;
      padding: 0.5rem;
      font-size: 1rem;
    }
    p.todo-text {
      width: 300px;
    }
    p.todo-time {
      width: 50px;
      text-align: center;
      margin-right: 0.1rem;
    }
    button {
      padding: 0.5rem;
      font-size: 1.1rem;
      border: none;
      cursor: pointer;
      margin: 0.1rem;
      color: #fff;
    }
    button.check {
      background-color: rgb(49, 228, 49);
    }
    button.trash {
      background-color: red;
    }
  }
}

.checked {
  text-decoration: line-through;
  opacity: 0.5;
  text-decoration-line: line-through;
}

@keyframes scaleup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaledown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

div.sort {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  button {
    width: 20%;
    background-color: #554d48;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.1rem;
    border: none;
    margin: 0.1rem;
  }
}
